body {
    font-family: Helvetica, Arial, sans-serif;
}

input {
    cursor: pointer;
}

.container-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 400px;
    width: 90vw;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container {
    background-color: white;
    position: relative;
    width: 100%;
    min-height: 250px;
    padding: 20px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.form-container {
    color: var(--blue);
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin-top: 12px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    font-size: 17px;
    line-height: 20px;
    padding: 14px 16px;
    width: 100%;
    border: 1px solid #dddfe2;
    vertical-align: middle;
    vertical-align: middle;
    border-radius: 6px;
    color: #1d2129;
}

.submit-btn {
    padding: 12px 18px;
    color: white;
    width: 100%;
    background-color: #1877f2;
    border: none;
    font-size: 20px;
    border-radius: 6px;
}

.separator {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 5px 16px;
    text-align: center;
    color: rgb(28, 30, 33);
}

#register-link {
    color: white;
    background-color: rgb(66, 183, 42);
    border-radius: 6px;
    border: none;
    box-sizing: content-box;
    font-size: 17px;
    font-weight: 700;
    line-height: 48px;
    padding: 0px 16px;
    text-decoration: none;
    vertical-align: middle;
}

.warning-txt {
    display: block;
    text-align: center;
}
