@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
    --blue: rgb(40, 77, 244);
    --white: rgb(250, 247, 247);
    --yellow: rgb(244, 236, 8);
    --dark-yellow: rgb(243, 188, 7);
    --light-yellow: rgba(255 251 144 / 59%);
    --green: rgb(17, 233, 75);
    --light-green: rgba(155, 219, 164, 0.726);
    --red: rgb(240, 56, 14);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--light-green);
}

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a,
a:visited,
a:hover,
a:active {
    color: var(--blue);
    cursor: pointer;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    height: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.warning-txt {
    color: var(--red);
    font-size: 12px;
    margin-top: 4px;
    display: none;
}

.warning-txt.show {
    display: block;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-container > label {
    color: var(--blue);
    cursor: pointer;
}

.spinner-conatiner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.818);
    display: none;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-conatiner.show {
    display: flex;
}
